<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Frontpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet">
</head>

<body>

<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>


</nav>


<h1>Admin</h1>




<main>
    <div class="container">
        <section>
            <p class="info-text">FORESPØRGELSER
            </p>
            <div class="container-ordre">
                <form method="post">
                    <table>
                        <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Carport</th>
                            <th>Pris</th>
                            <th>Bredde</th>
                            <th>Længde</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="order: ${orderList}">
                            <td th:text="${order.orderId}"></td>
                            <td th:text="${order.user.firstName + ' ' + order.user.lastName}"></td>
                            <td th:text="${order.price}"></td>
                            <td th:text="${order.cpWidth}"></td>
                            <td th:text="${order.cpLength}"></td>
                            <td th:text="${order.status}"></td>
                            <td><button type="submit" name="orderId" th:value="${order.orderId}">Vis</button></td>
                        </tr>
                        </tbody>
                    </table>


                    </tr>

                    <p class="info-text"> IGANGVÆRENDE ORDRER
            </p>
                    </table>

                </form>
            </div>
        </section>
    </div>
        </section>



</div>
</main>
</body>
</html>