<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Materials</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="two-rows">
    <div class="account-container">
        <a href="admin-materials.html" th:href="@{/materials}">
            <img class="account" src="../public/images/hammer.svg" th:src="@{/images/hammer.svg}"/>
        </a>
        <a href="admin-materials.html" th:href="@{/materials}" class="account">Materialer</a>

    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>
    </div>


</nav>

<h1>Materialer</h1>

<main>
    <div class="order-container">


        <section>
            <form method="post">
                <h2>Ændr materiale</h2>
                <div class="text-container four-rows">
                    <div>
                        <h3>ID</h3>
                        <input name="material_IdC" th:value="${material_idC}" type="text">
                        <div class="error-message"></div>
                    </div>

                    <div>
                        <h3>Bredde</h3>
                        <input name="widthC" th:value="${widthC}" type="text">
                        <div class="error-message"></div>
                    </div>

                    <div>
                        <h3>Dybde</h3>
                        <input name="depthC" th:value="${depthC}" type="text">
                        <div class="error-message"></div>
                    </div>
                    <div>
                        <h3>Type</h3>
                        <input name="typeC" th:value="${typeC}" type="text">
                        <div class="error-message"></div>
                    </div>
                </div>

                <div class="text-container three-rows">
                    <div>
                        <h3>Enhed</h3>
                        <input name="unitC" th:value="${unitC}" type="text">
                        <div class="error-message">
                        </div>
                    </div>

                    <div>
                        <h3>Pris pr enhed</h3>
                        <input name="priceC" th:value="${priceC}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Materiale beskrivelse</h3>
                        <input name="material_descriptionC" th:value="${material_descriptionC}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                </div>

                <div class="login">
                    <div class="center">
                        <button type="submit" class="submit-button" formaction="/changematerial">Ændr materiale</button>
                    </div>
                </div>
            </form>
        </section>


        <section>
            <form method="post">
                <h2>Opret materiale</h2>
                <div class="text-container four-rows">
                    <div>
                        <h3>Bredde</h3>
                        <input name="width" th:value="${width}" type="text">
                        <div class="error-message">
                        </div>
                    </div>

                    <div>
                        <h3>Dybde</h3>
                        <input name="depth" th:value="${depth}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Længde</h3>
                        <input name="length" th:value="${length}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Type</h3>
                        <input name="type" th:value="${type}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                </div>

                <div class="text-container three-rows">
                    <div>
                        <h3>Enhed</h3>
                        <input name="unit" th:value="${unit}" type="text">
                        <div class="error-message">
                        </div>
                    </div>

                    <div>
                        <h3>Pris pr enhed</h3>
                        <input name="price" th:value="${price}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Materiale beskrivelse</h3>
                        <input name="material_description" th:value="${material_description}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                </div>


                <div class="login">
                    <div class="center">
                        <button type="submit" class="submit-button" formaction="/creatematerial">Opret materiale
                        </button>
                    </div>
                </div>
            </form>
        </section>


        <section>
            <h2>Materialer</h2>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bredde</th>
                        <th>Dybde</th>
                        <th>Type</th>
                        <th>Pris pr enhed</th>
                        <th>Enhed</th>
                        <th>Materiale beskrivelse</th>

                    </tr>
                    </thead>

                    <tbody class="bom-table">
                    <tr th:each="Material: ${materials}">
                        <td th:text="${Material.materialId}">No info</td>
                        <td th:text="${Material.width}">No info</td>
                        <td th:text="${Material.depth}">No info</td>
                        <td th:text="${Material.type}">No info</td>
                        <td th:text="${Material.materialPrice}">No info</td>
                        <td th:text="${Material.unit}">No info</td>
                        <td th:text="${Material.materialDescription}">No info</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section>
            <form method="post">
                <h2>Slet materiale</h2>
                <div class="text-container">
                    <div>
                        <input name="deleteId" th:value="${deleteId}" placeholder="Skriv materiale ID" type="text">
                        <div class="error-message">
                        </div>
                    </div>

                    <div class="login">
                        <div class="center">
                            <button type="submit" class="submit-button" formaction="/deletematerial"> Slet materiale
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section>
            <div class="login">
                <div class="submit-button">
                    <a href="adminpage.html" th:href="@{/adminpage}" class="submit-button">Tilbage til ordreoversigt</a>
                </div>
            </div>
        </section>



    </div>
</main>
</body>
</html>