<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Order</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>


</nav>

<h1>Ordre</h1>

<main>
    <div class="order-container">

        <section>
            <h2>Ordredetaljer</h2>
            <div class="text-container two-rows">
                <div>
                    <h3>Ordrenummer</h3>
                    <p class="selected-text" th:text="${orderId}">Ordrenummer</p>
                    <div class="error-message">
                    </div>
                </div>

                <div>
                    <h3>Status</h3>
                    <p class="selected-text" th:text="${status}">Status</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Kontakt</h2>
            <div class="text-container two-rows">
                <div>
                    <h3>Fornavn</h3>
                    <p class="selected-text" th:text="${firstName}">Fornavn</p>
                    <div class="error-message">
                    </div>
                </div>

                <div>
                    <h3>Efternavn</h3>
                    <p class="selected-text" th:text="${lastName}">Efternavn</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>


            <div class="text-container two-rows">
                <div>
                    <h3>E-mail</h3>
                    <p class="selected-text" th:text="${email}">E-mail</p>
                    <div class="error-message">
                    </div>
                </div>

                <div>
                    <h3>Postnummer</h3>
                    <p class="selected-text" th:text="${postalCode}">Postnummer</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Evt. bemærkninger / særlige ønsker</h2>
            <div class="text-container">
                <p class="selected-text comment" th:text="${comment}">Bemærkninger / særlige ønsker</p>
                <div class="error-message">
                </div>
            </div>
        </section>

        <section>
            <form method="post">
                <input type="hidden" name="orderId" th:value="${orderId}">
                <input type="hidden" name="originalPrice" th:value="${order.price}">
                <h2>Carport og skur</h2>
                <div class="text-container three-rows">
                    <div>
                        <h3>Carport længde</h3>
                        <input name="cpLength" th:value="${cpLength}" th:attr="placeholder=${cpLength}" type="text">
                        <div class="error-message"></div>
                    </div>

                    <div>
                        <h3>Carport bredde</h3>
                        <input name="cpWidth" th:value="${cpWidth}" th:attr="placeholder=${cpWidth}" type="text">
                        <div class="error-message"></div>
                    </div>

                    <div>
                        <h3>Tag</h3>
                        <input name="cpRoof" th:value="${cpRoof}" th:attr="placeholder=${cpRoof}" type="text">
                        <div class="error-message"></div>
                    </div>
                </div>

                <div class="text-container two-rows">
                    <div>
                        <h3>Skur længde</h3>
                        <input name="shLength" th:value="${shLength}" th:attr="placeholder=${shLength}" type="text">
                        <div class="error-message"></div>
                    </div>

                    <div>
                        <h3>Skur bredde</h3>
                        <input name="shWidth" th:value="${shWidth}" th:attr="placeholder=${shWidth}" type="text">
                        <div class="error-message"></div>
                    </div>
                </div>

                <div class="login">
                    <button type="submit" class="submit-button" formaction="/changeorder">Ændr mål</button>
                </div>
            </form>
        </section>


        <section>
            <form method="post">
                <input type="hidden" name="orderId" th:value="${orderId}">
                <!-- Tilføj dette skjulte inputfelt for den oprindelige pris -->
                <input type="hidden" name="originalPrice" th:value="${price}">
                <h2>Pris</h2>
                <div class="text-container three-rows">
                    <div>
                        <h3>Pris på materialer</h3>
                        <p class="selected-text">Pris</p>
                        <div class="error-message">
                        </div>
                    </div>

                    <div>
                        <h3>Fragtomkostninger</h3>
                        <p class="selected-text" th:text="${shippingRate}">Fragt pris</p>
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Total pris</h3>
                        <input name="price" th:value="${price}" th:attr="placeholder=${price}" type="text">
                        <div class="error-message">
                        </div>
                    </div>
                </div>

                <div class="login">
                    <div class = "center">
                        <button type="submit" class="submit-button" formaction="/sendoffer">Send tilbud</button>
                    </div>
                    <div class="two-rows">
                        <button type="submit" class="submit-button denied" formaction="/nonewoffer">Afslå nyt tilbud</button>
                        <button type="submit" class="submit-button denied" formaction="/changeprice">Ændr pris</button>
                    </div>
                </div>
            </form>
        </section>

        <section>
            <h2>Stykliste</h2>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Materiale beskrivelse</th>
                        <th>Enhed</th>
                        <th>Længde</th>
                        <th>Antal</th>
                        <th>Funktionel beskrivelse</th>

                    </tr>
                    </thead>

                    <tbody class="bom-table">
                    <tr th:each="order: ${orderList}">
                        <td th:text="${order.orderId}">Stolpe</td>
                        <td th:text="${order.orderId}">97x97 mm. trykimp. stolpe</td>
                        <td th:text="${order.user.firstName + ' ' + order.user.lastName}">Meter</td>
                        <td th:text="${order.price}">200</td>
                        <td th:text="${order.status}">4</td>
                        <td th:text="${order.status}">Stolper nedgraves 90 cm. i jord</td>
                    </tr>
                    <tr th:each="order: ${orderList}">
                        <td th:text="${order.orderId}">Stolpe</td>
                        <td th:text="${order.orderId}">97x97 mm. trykimp. stolpe</td>
                        <td th:text="${order.user.firstName + ' ' + order.user.lastName}">Meter</td>
                        <td th:text="${order.price}">200</td>
                        <td th:text="${order.status}">4</td>
                        <td th:text="${order.status}">Stolper nedgraves 90 cm. i jord</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </section>


        <section>
            <div class="login">
                <div class="submit-button">
                    <a href="adminpage.html" th:href="@{/adminpage}" class="submit-button">Tilbage til ordreoversigt</a>
                </div>
                <div class="center">
                    <form method="post">
                        <input type="hidden" name="orderId" th:value="${orderId}">
                        <div class="login">
                            <button type="submit" class="submit-button deleteorder" formaction="/admindeleteorder">Slet ordre</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>