<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Order Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/carportform.css" th:href="@{/css/carportform.css}" rel="stylesheet"/>
    <script defer src="../public/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
    <nav>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
        </a>
        <div th:if="${session.currentUser != null}">
            <div class="user-email" th:text="${session.currentUser.email}"></div>
        </div>

    </nav>

    <h1> Bestil en carport med fladt tag </h1>

<main>
    <div class="container">
            <section>
                <h2>Carport</h2>
                <div class="select-container">
                    <h3>Carport bredde*</h3>
                    <label for="carport-width"></label>
                    <select name="carport-width" id="carport-width">
                        <option>Vælg en bredde</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport længde*</h3>
                    <label for="carport-length"></label>
                    <select name="carport-length" id="carport-length">
                        <option>Vælg en længde</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport trapeztag*</h3>
                    <label for="carport-roof"></label>
                    <select name="carport-roof" id="carport-roof">
                        <option>Vælg et tag</option>
                        <option value="Uden tagplader">Uden tagplader</option>
                        <option value="2">Plasttrapeztag</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
            </section>
        <section>
            <h2>Redskabsrum</h2>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*</p>
            <div class="select-container">
                <h3>Redskabsrum bredde*</h3>
                <label for="shed-width"></label>
                <select name="shed-width" id="shed-width">
                    <option>Vælg en bredde</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="error-message">
                </div>
            </div>
            <div class="select-container">
                <h3>Redskabsrum længde*</h3>
                <label for="shed-length"></label>
                <select name="shed-length" id="shed-length">
                    <option>Vælg en længde</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <h2>Evt. bemærkning / særlige ønsker</h2>
            <div class="input-container">
                <label for="comment">
                    <textarea name="comment" id="comment" placeholder="Skriv dine bemærkninger / ønsker her"></textarea>
                </label>
                <div class="error-message">
                </div>
            </div>
        </section>


            <a href="confirmation.html" id="validateLink">Bekræft og fortsæt</a>


    </div>
</main>



</body>
</html>
