<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Order</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">
    <script defer src="../public/js/carport-validation.js" th:src="@{/js/carport-validation.js}"></script>
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/login}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/login}" class="account">Konto</a>

    </div>


</nav>

    <h1>Bestil en carport med fladt tag</h1>

<main>
    <div class="container">
        <form method="post" action="/saveCarportSelection">
            <section>
            <p class="info-text">Nedstående er dine kontaktoplysninger baseret på din konto
                Felter markeret med * SKAL være udfyldt!
            </p>
        </section>

        <section>
            <div class="progress-bar">
                <div class="step current-step">

                    <div class="step-number">1</div>
                    <div class="step-name">Bestilling </div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-name">Kontaktoplysninger</div>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <div class="step-name">Din ordre</div>
                </div>
            </div>
        </section>

        <section>

                <h2>Carport</h2>
                <div class="select-container">
                    <h3>Carport bredde*</h3>
                    <label for="carport-width"></label>
                    <select name="carport-width" id="carport-width">
                        <option th:value="0" th:selected="${session.currentWidth== '0'}">Vælg en bredde</option>
                        <option th:value="240" th:selected="${session.currentWidth == '240'}">240 cm</option>
                        <option th:value="270" th:selected="${session.currentWidth == '270'}">270 cm</option>
                        <option th:value="300" th:selected="${session.currentWidth == '300'}">300 cm</option>
                        <option th:value="330" th:selected="${session.currentWidth == '330'}">330 cm</option>
                        <option th:value="360" th:selected="${session.currentWidth == '360'}">360 cm</option>
                        <option th:value="390" th:selected="${session.currentWidth == '390'}">390 cm</option>
                        <option th:value="420" th:selected="${session.currentWidth == '420'}">420 cm</option>
                        <option th:value="450" th:selected="${session.currentWidth == '450'}">450 cm</option>
                        <option th:value="480" th:selected="${session.currentWidth == '480'}">480 cm</option>
                        <option th:value="510" th:selected="${session.currentWidth == '510'}">510 cm</option>
                        <option th:value="540" th:selected="${session.currentWidth == '540'}">540 cm</option>
                        <option th:value="570" th:selected="${session.currentWidth == '570'}">570 cm</option>
                        <option th:value="600" th:selected="${session.currentWidth == '600'}">600 cm</option>

                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport længde*</h3>
                    <label for="carport-length"></label>
                    <select name="carport-length" id="carport-length">
                        <option th:value="0" th:selected="${session.currentLength == '0'}">Vælg en længde</option>
                        <option th:value="240" th:selected="${session.currentLength == '240'}">240 cm</option>
                        <option th:value="270" th:selected="${session.currentLength == '270'}">270 cm</option>
                        <option th:value="300" th:selected="${session.currentLength == '300'}">300 cm</option>
                        <option th:value="330" th:selected="${session.currentLength == '330'}">330 cm</option>
                        <option th:value="360" th:selected="${session.currentLength == '360'}">360 cm</option>
                        <option th:value="390" th:selected="${session.currentLength == '390'}">390 cm</option>
                        <option th:value="420" th:selected="${session.currentLength == '420'}">420 cm</option>
                        <option th:value="450" th:selected="${session.currentLength == '450'}">450 cm</option>
                        <option th:value="480" th:selected="${session.currentLength == '480'}">480 cm</option>
                        <option th:value="510" th:selected="${session.currentLength == '510'}">510 cm</option>
                        <option th:value="540" th:selected="${session.currentLength == '540'}">540 cm</option>
                        <option th:value="570" th:selected="${session.currentLength == '570'}">570 cm</option>
                        <option th:value="600" th:selected="${session.currentLength == '600'}">600 cm</option>
                        <option th:value="630" th:selected="${session.currentLength == '630'}">630 cm</option>
                        <option th:value="660" th:selected="${session.currentLength == '660'}">660 cm</option>
                        <option th:value="690" th:selected="${session.currentLength == '690'}">690 cm</option>
                        <option th:value="720" th:selected="${session.currentLength == '720'}">720 cm</option>
                        <option th:value="750" th:selected="${session.currentLength == '750'}">750 cm</option>
                        <option th:value="780" th:selected="${session.currentLength == '780'}">780 cm</option>

                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport trapeztag*</h3>
                    <label for="carport-roof"></label>
                    <select name="carport-roof" id="carport-roof">
                        <option>Vælg et tag</option>
                        <option  th:selected="${session.currentRoof=='Uden tagplader'}">Uden tagplader</option>
                        <option  th:selected="${session.currentRoof=='Plasttrapeztag'}" >Plasttrapeztag</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
            </section>
        <section>
            <h2>Redskabsrum</h2>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet</p>
            <div class="select-container">
                <h3>Redskabsrum bredde*</h3>
                <label for="shed-width"></label>
                <select name="shed-width" id="shed-width">
                    <option >Vælg en bredde</option>
                    <option th:value="0" th:selected="${session.currentShedWidth== '0'}">Uden redskabsrum</option>
                    <option th:value="210" th:selected="${session.currentShedWidth == '210'}">210 cm</option>
                    <option th:value="240" th:selected="${session.currentShedWidth == '240'}">240 cm</option>
                    <option th:value="270" th:selected="${session.currentShedWidth == '270'}">270 cm</option>
                    <option th:value="300" th:selected="${session.currentShedWidth == '300'}">300 cm</option>
                    <option th:value="330" th:selected="${session.currentShedWidth == '330'}">330 cm</option>
                    <option th:value="360" th:selected="${session.currentShedWidth == '360'}">360 cm</option>
                    <option th:value="390" th:selected="${session.currentShedWidth == '390'}">390 cm</option>
                    <option th:value="420" th:selected="${session.currentShedWidth == '420'}">420 cm</option>
                    <option th:value="450" th:selected="${session.currentShedWidth == '450'}">450 cm</option>
                    <option th:value="480" th:selected="${session.currentShedWidth == '480'}">480 cm</option>
                    <option th:value="510" th:selected="${session.currentShedWidth == '510'}">510 cm</option>
                    <option th:value="540" th:selected="${session.currentShedWidth == '540'}">540 cm</option>
                    <option th:value="570" th:selected="${session.currentShedWidth == '570'}">570 cm</option>
                    <option th:value="600" th:selected="${session.currentShedWidth == '600'}">600 cm</option>
                    <option th:value="630" th:selected="${session.currentShedWidth == '630'}">630 cm</option>
                    <option th:value="660" th:selected="${session.currentShedWidth == '660'}">660 cm</option>
                    <option th:value="690" th:selected="${session.currentShedWidth == '690'}">690 cm</option>
                    <option th:value="720" th:selected="${session.currentShedWidth == '720'}">720 cm</option>
                </select>
                <div class="error-message">
                </div>
            </div>
            <div class="select-container">
                <h3>Redskabsrum længde*</h3>
                <label for="shed-length"></label>
                <select name="shed-length" id="shed-length">
                    <option>Vælg en længde</option>
                    <option th:value="0" th:selected="${session.currentShedLength == '0'}">Uden redskabsrum</option>
                    <option th:value="150" th:selected="${session.currentShedLength == '150'}">150 cm</option>
                    <option th:value="180" th:selected="${session.currentShedLength == '180'}">180 cm</option>
                    <option th:value="210" th:selected="${session.currentShedLength == '210'}">210 cm</option>
                    <option th:value="240" th:selected="${session.currentShedLength == '240'}">240 cm</option>
                    <option th:value="270" th:selected="${session.currentShedLength == '270'}">270 cm</option>
                    <option th:value="300" th:selected="${session.currentShedLength == '300'}">300 cm</option>
                    <option th:value="330" th:selected="${session.currentShedLength == '330'}">330 cm</option>
                    <option th:value="360" th:selected="${session.currentShedLength == '360'}">360 cm</option>
                    <option th:value="390" th:selected="${session.currentShedLength == '390'}">390 cm</option>
                    <option th:value="420" th:selected="${session.currentShedLength == '420'}">420 cm</option>
                    <option th:value="450" th:selected="${session.currentShedLength == '450'}">450 cm</option>
                    <option th:value="480" th:selected="${session.currentShedLength == '480'}">480 cm</option>
                    <option th:value="510" th:selected="${session.currentShedLength == '510'}">510 cm</option>
                    <option th:value="540" th:selected="${session.currentShedLength == '540'}">540 cm</option>
                    <option th:value="570" th:selected="${session.currentShedLength == '570'}">570 cm</option>
                    <option th:value="600" th:selected="${session.currentShedLength == '600'}">600 cm</option>
                    <option th:value="630" th:selected="${session.currentShedLength == '630'}">630 cm</option>
                </select>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <h2>Evt. bemærkninger / særlige ønsker</h2>
            <div class="input-container">
                <label for="comment">
                    <textarea name="comment" id="comment" th:text="${session.currentComment}"
                              placeholder="Skriv dine bemærkninger / ønsker her"></textarea>
                </label>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <div class="navigation">

                <a href="index.html" th:href="@{/}" class="link-button">Tilbage</a>
                <button type="submit" formaction="/savecarportdetails" id="validateLink" class="link-button">Videre</button>

            </div>

        </section>

        </form>


    </div>
</main>
</body>
</html>
