<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Order</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script defer src="../public/js/carport-validation.js" th:src="@{/js/carport-validation.js}"></script>
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/login}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/login}" class="account">Konto</a>

    </div>


</nav>

    <h1>Bestil en carport med fladt tag</h1>

<main>
    <div class="container">
        <section>
            <p class="info-text">Nedstående er dine kontaktoplysninger baseret på din konto
                Felter markeret med * SKAL være udfyldt!
            </p>
        </section>

        <section>
            <div class="progress-bar">
                <div class="step current-step">

                    <div class="step-number">1</div>
                    <div class="step-name">Bestilling </div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-name">Kontaktoplysninger</div>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <div class="step-name">Din ordre</div>
                </div>
            </div>
        </section>

        <form method="post">

        <section>
                <h2>Carport</h2>
                <div class="select-container">
                    <h3>Carport bredde*</h3>
                    <label for="carport-width"></label>
                    <select name="carport-width" id="carport-width">
                        <option>Vælg en bredde</option>
                        <option value="240">240 cm</option>
                        <option value="270">270 cm</option>
                        <option value="300">300 cm</option>
                        <option value="330">330 cm</option>
                        <option value="360">360 cm</option>
                        <option value="390">390 cm</option>
                        <option value="420">420 cm</option>
                        <option value="450">450 cm</option>
                        <option value="480">480 cm</option>
                        <option value="510">510 cm</option>
                        <option value="540">540 cm</option>
                        <option value="570">570 cm</option>
                        <option value="600">600 cm</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport længde*</h3>
                    <label for="carport-length"></label>
                    <select name="carport-length" id="carport-length">
                        <option>Vælg en længde</option>
                        <option value="240">240 cm</option>
                        <option value="270">270 cm</option>
                        <option value="300">300 cm</option>
                        <option value="330">330 cm</option>
                        <option value="360">360 cm</option>
                        <option value="390">390 cm</option>
                        <option value="420">420 cm</option>
                        <option value="450">450 cm</option>
                        <option value="480">480 cm</option>
                        <option value="510">510 cm</option>
                        <option value="540">540 cm</option>
                        <option value="570">570 cm</option>
                        <option value="600">600 cm</option>
                        <option value="630">630 cm</option>
                        <option value="660">660 cm</option>
                        <option value="690">690 cm</option>
                        <option value="720">720 cm</option>
                        <option value="750">750 cm</option>
                        <option value="780">780 cm</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
                <div class="select-container">
                    <h3>Carport trapeztag*</h3>
                    <label for="carport-roof"></label>
                    <select name="carport-roof" id="carport-roof">
                        <option>Vælg et tag</option>
                        <option value="Uden tagplader">Uden tagplader</option>
                        <option value="Plasttrapeztag">Plasttrapeztag</option>
                    </select>
                    <div class="error-message">
                    </div>
                </div>
            </section>
        <section>
            <h2>Redskabsrum</h2>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet</p>
            <div class="select-container">
                <h3>Redskabsrum bredde*</h3>
                <label for="shed-width"></label>
                <select name="shed-width" id="shed-width">
                    <option>Vælg en bredde</option>
                    <option>Uden redskabsrum</option>
                    <option value="210">210 cm</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                    <option value="660">660 cm</option>
                    <option value="690">690 cm</option>
                    <option value="720">720 cm</option>
                </select>
                <div class="error-message">
                </div>
            </div>
            <div class="select-container">
                <h3>Redskabsrum længde*</h3>
                <label for="shed-length"></label>
                <select name="shed-length" id="shed-length">
                    <option>Vælg en længde</option>
                    <option>Uden redskabsrum</option>
                    <option value="150">150 cm</option>
                    <option value="180">180 cm</option>
                    <option value="210">210 cm</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                </select>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <h2>Evt. bemærkninger / særlige ønsker</h2>
            <div class="input-container">
                <label for="comment">
                    <textarea name="comment" id="comment" placeholder="Skriv dine bemærkninger / ønsker her"></textarea>
                </label>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <div class="navigation">
                <a href="index.html" th:href="@{/}" class="link-button">Tilbage</a>
                <a href="contact-details.html" th:href="@{/savecarportdetails}" id="validateLink" class="link-button">Videre</a>
            </div>

        </section>

        </form>


    </div>
</main>
</body>
</html>
