<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">

</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>


</nav>

<h1>Bekræft tilbud og betal</h1>

<main>
    <div class="container">
        <form method="post">
            <section class="login-container">
                <h3>Ved at bekræfte tilbuddet, vil du blive sendt videre til betalingen</h3>
            </section>
            <section>
                <div class="login">
                    <button type="submit" class="submit-button" formaction="/offerconfirmed" >Bekræft og betal</button>
                    <button type="submit" class="submit-button denied" formaction="/deleteorder" >Annuller ordre</button>
                </div>
            </section>
        </form>
    </div>
</main>
</body>
</html>