<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
    </a>

</nav>

<h1> Kontaktoplysninger </h1>

<main>
    <div class="container">
        <section>
            <p class="info-text">Nedstående er dine kontaktoplysninger baseret på din konto.
                Felter markeret med * SKAL være udfyldt!
            </p>
        </section>

        <section>
            <div class="progress-bar">
                <div class="step">
                    <div class="step-number">1</div>
                    <div class="step-name">Bestilling</div>
                </div>
                <div class="step current-step">
                    <div class="step-number">2</div>
                    <div class="step-name">Kontaktoplysninger</div>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <div class="step-name">Kvittering</div>
                </div>
            </div>
        </section>


        <section>
            <h2>Kontakt</h2>
            <div class="text-container">
                <h3>Fornavn*</h3>
                <p class="selected-text">Fornavn</p>
                <div class="error-message">
                </div>
            </div>
            <div class="text-container">
                <h3>Efternavn*</h3>
                <p class="selected-text">Efternavn</p>
                <div class="error-message">
                </div>
            </div>
            <div>
                <div class="text-container">
                    <h3>E-mail*</h3>
                    <p class="selected-text">E-mail</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>
            <div>
                <div class="text-container">
                    <h3>Telefonnummer*</h3>
                    <p class="selected-text">E-mail</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Adresse</h2>
            <p>NB! Dette skal være leveringsadressen*</p>
            <div class="text-container">
                <h3>Vejnavn og husnummer*</h3>
                <p class="selected-text">Vejnavn og husnummer</p>
                <div class="error-message">
                </div>
            </div>
            <div class="text-container">
                <h3>Etage- og dørbetegnelse</h3>
                <p class="selected-text">Etage- og dørbetegnelse</p>
                <div class="error-message">
                </div>
            </div>
            <div>
                <div class="text-container two-rows">
                    <div>
                        <h3>By*</h3>
                        <p class="selected-text">By</p>
                        <div class="error-message">
                        </div>
                    </div>
                    <div>
                        <h3>Postnummer*</h3>
                        <p class="selected-text">Postnummer</p>
                        <div class="error-message">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="navigation">
                <a href="carport-order.html" class="link-button">Tilbage</a>
                <a href="order-summary.html" class="link-button">Videre</a>
            </div>

        </section>


    </div>
</main>
</body>
</html>