<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../public/js/carport-validation.js" th:src="@{/js/carport-validation.js}"></script>
    <script src="../public/js/address-autocomplete.js" th:src="@{/js/address-autocomplete.js}"></script>


    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/user.css" th:href="@{/css/user.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" class="account">Konto</a>

    </div>


</nav>

<h1>Opret din bruger</h1>

<main>
    <div class="container">
        <section>
            <p class="info-text">Felter markeret med * SKAL være udfyldt!
            </p>
        </section>

        <form method="post" autocomplete="off">
            <section>
                <h2>Kontakt</h2>

                <div class="input-container">
                    <h3>Fornavn*</h3>
                    <label for="first-name">
                        <input name="first-name" id="first-name" placeholder="Indtast dit fornavn" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>
                <div class="input-container">
                    <h3>Efternavn*</h3>
                    <label for="last-name">
                        <input name="last-name" id="last-name" placeholder="Indtast dit efternavn" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>
                <div class="input-container">
                    <h3>E-mail*</h3>
                    <label for="email">
                        <input name="email" id="email" placeholder="Indtast din e-mail" type="email">
                    </label>
                    <div class="error-message">
                    </div>
                </div>
                <div class="input-container">
                    <h3>Telefonnummer*</h3>
                    <label for="phone">
                        <input name="phone" id="phone" placeholder="Indtast dit telefonnummer" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>
                <div class="input-container">
                    <h3>Kodeord*</h3>
                    <label for="password1">
                        <input name="password1" id="password1" placeholder="Indtast dit kodeord" type="password">
                    </label>
                    <div class="error-message">
                    </div>
                </div>
                <div class="input-container">
                    <h3>Bekræft kodeord*</h3>
                    <label for="password2">
                        <input name="password2" id="password2" placeholder="Gentag dit kodeord" type="password">
                    </label>
                    <div class="error-message">
                    </div>
                </div>

            </section>


            <section>
                <h2>Adresse</h2>
                <div class="input-container">
                    <h3>Vejnavn*</h3>
                    <label for="ship-address">
                        <input name="ship-address"
                               id="ship-address"
                               autocomplete="off"
                               type="text"
                               placeholder="Indtast dit vejnavn">
                    </label>
                    <div class="error-message">
                    </div>

                </div>

                <div class="input-container">
                    <h3>Husnummer*</h3>
                    <label for="house-number">
                        <input name="house-number" id="house-number" placeholder="Indtast dit husnummer" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>


                <div class="input-container">
                    <h3>Etage- og dørbetegnelse</h3>
                    <label for="floor-and-door">
                        <input name="floor-and-door" id="floor-and-door" placeholder="Indtast din etage- og dørbetegnelse" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>


                <div class="input-container">
                    <h3>Postnummer*</h3>
                    <label for="postal-code">
                        <input id="postcode" name="postcode"  placeholder="Indtast dit postnummer" type="text"/>
                    </label>
                    <div class="error-message">
                    </div>
                </div>

                <div class="input-container">
                    <h3>By*</h3>
                    <label for="locality">
                        <input id="locality" name="locality"  placeholder="Indtast din by" type="text">
                    </label>
                    <div class="error-message">
                    </div>
                </div>






            </section>

            <section>
                <div class="create-account">
                    <a href="login.html" class="link-button">Tilbage til login</a>
                    <button type="submit" class="submit-button" formaction="/createaccount">Opret bruger</button>
                </div>

            </section>


        </form>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7_G5wmAANaWqlZfLHPMlCZbt53hrvbKY&libraries=places&callback=initAutocomplete"></script>




    </div>

</main>
</body>
</html>