<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>


</nav>

<h1>Lad os tegne din carport drøm
    <br>
    <span>Bestil et Quick-Byg tilbud</span></h1>

<section class="container>">



</section>

<main>

    <div class="card-container">

        <section>
            <div class="carport-container">

                <div class="row">
                    <div class="column">
                        <img src="../public/images/flatroof.svg" th:src="@{/images/flatroof.svg}"/>
                        <h3>Carport med flat tag</h3>
                        <p>Bestil tilbud →</p>
                        <a href="carport-order.html" class="link card-link" th:href="@{/carportorder}"></a>
                    </div>
                    <div class="column">
                        <img src="../public/images/highroof.svg" th:src="@{/images/highroof.svg}"/>
                        <h3>Carport med høj rejsning</h3>
                        <p>Bestil tilbud →</p>
                    </div>
                </div>
                    <div class="row">
                    <div class="double-column">
                        <h3>Hvad er Quick-Byg?</h3>
                        <p>Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
                            Tilbud og skitsetegning fremsendes på mail hurtigst muligt.
                            Ved bestilling medfølger standardbyggevejledning.
                            Vælg, om du ønsker tilbud på carport med fladt tag eller carport med høj rejsning.</p>
                    </div>
                </div>



            </div>
        </section>
        </div>




</main>
</body>
</html>