<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="../public/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <div>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/logo.svg" th:src="@{/images/logo.svg}"/>
        </a>
    </div>
    <div class="account-container">
        <a href="login.html" th:href="@{/loginorout}">
            <img class="account" src="../public/images/person.svg" th:src="@{/images/person.svg}"/>
        </a>
        <a href="login.html" th:href="@{/loginorout}" class="account">Konto</a>

    </div>


</nav>

<h1>Din ordre</h1>

<main>
    <div class="container">
        <section>
            <p class="info-text">Nedstående er en oversigt over dine valg for carporten.
                Tryk “bekræft” for at gennemføre ordren eller “ret ordre” for at gå tilbage og rette i din ordre
            </p>
        </section>

        <section>
            <div class="progress-bar">
                <div class="step">
                    <div class="step-number">1</div>
                    <div class="step-name">Bestilling</div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-name">Kontaktoplysninger</div>
                </div>
                <div class="step current-step">
                    <div class="step-number ">3</div>
                    <div class="step-name">Din ordre</div>
                </div>
            </div>
        </section>


        <section>
            <h2>Carport</h2>
            <div class="text-container">
                <h3>Carport bredde</h3>
                <p class="selected-text" th:text="${session.currentWidth + ' cm'}">Carport bredde</p>
                <div class="error-message">
                </div>
            </div>
            <div class="text-container">
                <h3>Carport længde</h3>
                <p class="selected-text" th:text="${session.currentLength + ' cm'}">Carport længde</p>
                <div class="error-message">
                </div>
            </div>
            <div>
                <div class="text-container">
                    <h3>Carport trapeztag</h3>
                    <p class="selected-text">Carport trapeztag</p>
                    <div class="error-message">
                    </div>
                </div>
            </div>
        </section>

        <!-- Display 'Uden redskabsrum' if currentShedWidth is 0, otherwise display width in centimeters -->
        <section>
            <h2>Adresse</h2>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet</p>
            <div class="text-container">
                <h3>Redskabsrum længde</h3>
                <p class="selected-text" th:if="${session.currentShedLength == 0}">Uden redskabsrum</p>
                <p class="selected-text" th:if="${session.currentShedLength != 0}" th:text="${session.currentShedLength + ' cm'}">Redskabsrum længde</p>
                <div class="error-message"></div>
            </div>
            <div class="text-container">
                <h3>Redskabsrum bredde</h3>
                <p class="selected-text" th:if="${session.currentShedWidth == 0}">Uden redskabsrum</p>
                <p class="selected-text" th:if="${session.currentShedWidth != 0}" th:text="${session.currentShedWidth + ' cm'}">Redskabsrum bredde</p>
                <div class="error-message"></div>
            </div>
        </section>

        <section>
            <h2>Evt. bemærkninger / særlige ønsker</h2>
            <div class="text-container">
                <p class="selected-text comment" th:text="${session.currentComment}">Bemærkninger / særlige ønsker</p>
                <div class="error-message">
                </div>
            </div>
        </section>
        <section>
            <h2>Carport set fra oven og siden</h2>
            <div class="text-container">
                <h3>Carport set fra oven</h3>
                <div class="carport-svg-topview">
                    <div th:utext="${carportSvgTop}"></div>
                </div>
            </div>
            <div class="text-container">
                <h3>Carport set fra siden</h3>
                <div class="carport-svg-sideview">
                    <div th:utext="${carportSvgSide}"></div>
                </div>
            </div>

        </section>
        <section>
            <div class="navigation">
                <a href="carport-order.html" th:href="@{/backtoorder}" class="link-button">Ret ordre</a>
                <a href="confirmation.html" class="link-button">Videre</a>
            </div>

        </section>

    </div>
</main>
</body>
</html>